.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .flex-center {
    display: flex;
    align-items: center;
  }
.margin-left-10px {
    margin-left: 10px;
}
