<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Form Details</h3>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Name:</strong></p>
                </div>
                <div class="col-md-6">
                    <p>{{ newForm.name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Table Id</strong></p>
                </div>
                <div class="col-md-6">
                    <p>{{ newForm.tableId }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Type:</strong></p>
                </div>
                <div class="col-md-6">
                    <p>{{ newForm.type }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Sequence</strong></p>
                </div>
                <div class="col-md-6">
                    <p>{{ newForm.sequence }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Number</strong></p>
                </div>
                <div class="col-md-6">
                    <p>{{ newForm.number }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>RateBook Id</strong></p>
                </div>
                <div class="col-md-6">
                    <p>{{ newForm.ratebookId }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Hide Premiun</strong></p>
                </div>
                <div class="col-md-6">
                    <p>{{ newForm.hidePremium }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Max Occurs</strong></p>
                </div>
                <div class="col-md-6">
                    <p>{{ newForm.maxOccurs }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Help Text</strong></p>
                </div>
                <div class="col-md-6">
                    <p>{{ newForm.helpText }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Condition</strong></p>
                </div>
                <div class="col-md-6">
                    <p>{{ newForm.condition }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Form Type</strong></p>
                </div>
                <div class="col-md-6">
                    <p>{{ newForm.formType }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Min Occurs</strong></p>
                </div>
                <div class="col-md-6">
                    <p>{{ newForm.minOccurs }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Resource Name</strong></p>
                </div>
                <div class="col-md-6">
                    <p>{{ newForm.tabResourceName }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Tab Condition</strong></p>
                </div>
                <div class="col-md-6">
                    <p>{{ newForm.tabCondition }}</p>
                </div>
            </div>

           
        </div>
    </div>
    
    <button type="button" class="btn btn-secondary"  routerLink="/">Back</button>
</div>

